<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Consumer Smoke Suite">

    <listeners>
        <listener class-name="io.github.ujjwala91.QATouchListener"/>
    </listeners>

    <test name="Smoke Passing Tests">
        <classes>
            <class name="smoke.PassingTest"/>
        </classes>
    </test>

    <test name="Smoke Failure Tests">
        <classes>
            <class name="smoke.FailureTest"/>
        </classes>
    </test>

</suite>
